* {
  background-color: #1b1d1f;
}
.card-list_container {
  box-sizing: border-box;
  width: 86%;
  @media (max-width: 1279px) {
    width: 70%;
    @media (max-width: 1023px) {
      width: 60%;
    }
  }
  margin: -11% auto;
  margin-bottom: 150px;
  padding: 80px 40px;
  border-radius: 20px;
  z-index: 1;
  position: relative;
}
#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  max-width: 450px;
  min-width: 150px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
.intro_text {
  z-index: 0;
}
.background_vector {
  position: absolute;
  z-index: -1;
  right: -5%;
  bottom: 30%;
}
.card-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 250px;
  padding: 20px;
}

.choice_button {
  margin-top: 20px;
  width: 70%;
  display: flex;
  justify-content: center;
}
#All_Products_button,
#Available_Now_button {
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}

#All_Products_button {
  background-color: #6f757c;
}
